/* Body */

body.page{
	margin:		0px;
	font-size:	80%;
	background:	White;
}
body.glo{
	margin:		0px;
	font-size:	80%;
	background:	Beige;
}
/*--------------------------------------------*/

/* Level-1 */
div.level1{
	margin-left:	20px;
	padding-bottom:	20px;
}
/* Level-2 */
div.level2{
	margin-left:	0px;
}
/* Level-3 */
div.level3{
	margin-left:	0px;
}

/*--------------------------------------------*/

/* Heading-1 */
div.heading1{
	background:	#ccccff;
	color:		#000033;
	font-weight:	Bold;
	font-size:	120%;
	padding:	12 12 11 16;
	margin-left:	-20px;
	width:		100%;
}

/* Heading-2 */
div.heading2{
	color:		#000099;
	font-size:	120%;
	font-weight:	Bold;
	margin:		0px;
	padding-top:	36px;
	padding-bottom:	6px;
	padding-right:	20px;
}

/* Heading-2_PageTop */
div.heading2t{
	color:		#000099;
	font-size:	120%;
	font-weight:	Bold;
	margin:		0px;
	padding-top:	24px;
	padding-bottom:	6px;
	padding-right:	20px;
}

/* Heading-3 */
div.heading3{
	color:		Black;
	font-size:	100%;
	font-weight:	Bold;
	margin:		0px;
	padding-top:	22px;
	padding-right:	20px;
}

/* Heading-3_NextHeader */
div.heading3t{
	color:		Black;
	font-size:	100%;
	font-weight:	Bold;
	margin:		0px;
	padding-top:	16px;
	padding-right:	20px;
}

/* Heading-4 */
div.heading4{
	color:		Black;
	font-size:	90%;
	font-weight:	Bold;
	margin:		0px;
	padding-top:	12px;
	padding-right:	20px;
}

/*--------------------------------------------*/

a:link{
	color:		#0000ff;
}
a:visited{
	color:		#8a2be2;
}
a:vlink{
	color:		#800080;
}
a:hover{
	color:		#0000ff;
}
a img{
	border:		none;
}

/*--------------------------------------------*/

/* Text */
div.text{
	margin-top:	4px;
	margin-left:	0px;
	padding-right:	20px;
}

/* Text_TopMargin */
div.text_a{
	margin-top:	16px;
	margin-left:	0px;
	padding-right:	20px;
}

/* Text_Indent */
div.texti{
	margin-top:	4px;
	margin-left:	14px;
	padding-right:	20px;
}

/* Text_GlossaryWord */
.gloword {
	color: #FF6600;
}

/*--------------------------------------------*/
/* Caution_Border */
div.mark_border{
	font-weight:	Normal;
	margin-top:	20px;
	margin-left:	0px;
	background:	#eeffee;
	border:		Solid 1px Black;
	padding:	4 8 8 8;
	margin-right:	20px;
}
td div.mark_border{
	margin:		8 0 8 0;
}
span.mark_border_title{
	font-weight:	Bold;
}
div.mark_border img{
	border:		0px;
	margin-bottom:	4px;
	vertical-align:	middle;
}
/*--------------------------------------------*/
/* PL Caution_Border */
div.mark_pl_border{
	font-weight:	Normal;
	margin-top:	20px;
	margin-left:	0px;
	background:	#d0d0d0;
	border:		none;
	padding:	4 8 8 8;
	margin-right:	20px;
}
td div.mark_a_border{
	margin:		8 0 8 0;
}
span.mark_border_a_title{
	font-weight:	Bold;
}
div.mark_border_a img{
	border:		0px;
	margin-bottom:	4px;
	vertical-align:	middle;
}

/*--------------------------------------------*/

/* Step */
table.step{
	margin:		4 20 4 0;
}
.mark table.step{
	margin:		4 20 4 20;
}
table.step tr th{
	vertical-align:	top;
	font-size:	80%;
	color:		Black;
	width:		1.3em;
	padding:	0px;
	padding-top:	5px;

}
table.step tr th.navy{
	color:		#000066;
	font-weight:	Bold;
	text-align:	left;
}
table.step tr td{
	vertical-align:	top;
	font-size:	80%;
	padding:	0px;
	padding-top:	5px;
}

/*--------------------------------------------*/

/* List */
table.list{
	margin:		4 20 4 0;
	border-bottom:	none;
}
table.list tr th{
	vertical-align:	top;
	font-size:	80%;
	font-weight:	Normal;
	color:		Black;
	width:		5px;
	padding:	0px;
	padding-top:	5px;
	text-align:	left;
}
table.list tr td{
	vertical-align:	top;
	font-size:	80%;
	padding:	0px;
	padding-top:	5px;
	width:		100%;
}

/*--------------------------------------------*/

/*Troubleshooting_Arrow*/
table.trouble{
	margin:		4 40 4 20;
}
table.trouble tr th{
	vertical-align:	top;
	width:		20px;
	padding:	0px;
	padding-top:	5px;
	text-align:	left;
}
table.trouble tr td{
	vertical-align:	top;
	font-size:	80%;
	padding:	0px;
	padding-top:	5px;
	width:		100%;
}

/*--------------------------------------------*/

/* FirstLine */
div.first-line{
	margin-bottom:4px;
}

/*--------------------------------------------*/

/* Annotation */
table.annotation{
	margin:		4 40 4 20;
}
table.annotation tr th{
	vertical-align:	top;
	font-size:	80%;
	font-weight:	Normal;
	color:		Black;
	padding:	0px;
	padding-top:	5px;
	text-align:	left;
}
table.annotation tr td{
	vertical-align:	top;
	font-size:	80%;
	padding:	0px;
	padding-top:	5px;
	width:		100%;
}

/*--------------------------------------------*/

/* Application */
body table.application{
	margin:		20 0 0 0;
	width:		document.body.clientWidth - 40;
}
table.application tr th{
	vertical-align:	top;
	text-align:	left;
}
table.application tr td{
	vertical-align:	top;
	text-align:	right;
}

/*--------------------------------------------*/

/* Table */
div.table{
	margin-top:	20px;	
}
td div.table{
	margin-top:	4px;
}
div.table table.table{
	width:		parentNode.style.width - 20;
	margin-left:	0px;
	margin-right:	0px;
	background:	none;
	border-bottom:	Solid 1px Black;
}
div.table table.table thead tr th{
	padding:	4px;
	margin:		1px;
	width:		(document.body.clientWidth - 40) / this.parentNode.childNodes.length;
	font-weight:	Bold;
}
div.table table.table tbody tr td{
	padding:	4px;
	margin:		1px;
	width:		(document.body.clientWidth - 40) / this.parentNode.childNodes.length;
	vertical-align:	top;
}
/* Table_Item*/
th.left_left,th.center_left,th.right_left,th.left_center,th.center_center,th.right_center,th.left_right,th.center_right,th.right_right{
	background:	#c0c0c0;
	font-size:	80%;
}
/* Table_Text */
td.left_left,td.center_left,td.right_left,td.left_center,td.center_center,td.right_center,td.left_right,td.center_right,td.right_right{
	background:	White;
	font-size:	80%;
}
/* Item_LeftColumn_AlignLeft */
th.left_left{
	border-top:	Solid 1px Black;
	border-left:	Solid 1px Black;
	text-align:	left;
}

/* Item_CenterColumn_AlignLeft */
th.center_left{
	border-top:	Solid 1px Black;
	border-left:	Solid 1px Black;
	text-align:	left;
}

/* Item_RightColumn_AlignLeft */
th.right_left{
	border-top:	Solid 1px Black;
	border-left:	Solid 1px Black;
	border-right:	Solid 1px Black;
	text-align:	left;
}

/* Item_LeftColumn_AlignCenter */
th.left_center{
	border-top:	Solid 1px Black;
	border-left:	Solid 1px Black;
	text-align:	center;
}

/* Item_CenterColumn_AlignCenter */
th.center_center{
	border-top:	Solid 1px Black;
	border-left:	Solid 1px Black;
	text-align:	center;
}

/* Item_RightColumn_AlignCenter */
th.right_center{
	border-top:	Solid 1px Black;
	border-left:	Solid 1px Black;
	border-right:	Solid 1px Black;
	text-align:	center;
}

/* Item_LeftColumn_AlignRight */
th.left_right{
	border-top:	Solid 1px Black;
	border-left:	Solid 1px Black;
	text-align:	right;
}

/* Item_CenterColumn_AlignRight */
th.center_right{
	border-top:	Solid 1px Black;
	border-left:	Solid 1px Black;
	text-align:	right;
}

/* Item_RightColumn_AlignRight */
th.right_right{
	border-top:	Solid 1px Black;
	border-left:	Solid 1px Black;
	border-right:	Solid 1px Black;
	text-align:	right;
}

/* Text_LeftColumn_AlignLeft */
td.left_left{
	border-top:	Solid 1px Black;
	border-left:	Solid 1px Black;
	text-align:	left;
}

/* Text_CenterColumn_AlignLeft */
td.center_left{
	border-top:	Solid 1px Black;
	border-left:	Solid 1px Black;
	text-align:	left;
}

/* Text_RightColumn_AlignLeft */
td.right_left{
	border-top:	Solid 1px Black;
	border-left:	Solid 1px Black;
	border-right:	Solid 1px Black;
	text-align:	left;
}

/* Text_LeftColumn_AlignCenter */
td.left_center{
	border-top:	Solid 1px Black;
	border-left:	Solid 1px Black;
	text-align:	center;
}

/* Text_CenterColumn_AlignCenter */
td.center_center{
	border-top:	Solid 1px Black;
	border-left:	Solid 1px Black;
	t/* Body */

body.page{
	margin:		0px;
	font-size:	80%;
	background:	White;
}
body.glo{
	margin:		0px;
	font-size:	80%;
	background:	Beige;
}
/*--------------------------------------------*/

/* Level-1 */
div.level1{
	margin-left:	20px;
	padding-bottom:	20px;
}
/* Level-2 */
div.level2{
	margin-left:	0px;
}
/* Level-3 */
div.level3{
	margin-left:	0px;
}

/*--------------------------------------------*/

/* Heading-1 */
div.heading1{
	background:	#CCCCFF;
	color:		#000033;
	font-weight:	Bold;
	font-size:	120%;
	padding:	12 12 11 16;
	margin-left:	-20px;
	width:		100%;
}

/* Heading-2 */
div.heading2{
	color:		#000099;
	font-size:	120%;
	font-weight:	Bold;
	margin:		0px;
	padding-top:	36px;
	padding-bottom:	6px;
	padding-right:	20px;
}

/* Heading-2_PageTop */
div.heading2t{
	color:		#000099;
	font-size:	120%;
	font-weight:	Bold;
	margin:		0px;
	padding-top:	24px;
	padding-bottom:	6px;
	padding-right:	20px;
}

/* Heading-3 */
div.heading3{
	color:		Black;
	font-size:	100%;
	font-weight:	Bold;
	margin:		0px;
	padding-top:	22px;
	padding-right:	20px;
}

/* Heading-3_NextHeader */
div.heading3t{
	color:		Black;
	font-size:	100%;
	font-weight:	Bold;
	margin:		0px;
	padding-top:	16px;
	padding-right:	20px;
}

/* Heading-4 */
div.heading4{
	color:		Black;
	font-size:	90%;
	font-weight:	Bold;
	margin:		0px;
	padding-top:	12px;
	padding-right:	20px;
}

/*--------------------------------------------*/

a:link{
	color:		#0000ff;
}
a:visited{
	color:		#8a2be2;
}
a:vlink{
	color:		#800080;
}
a:hover{
	color:		#0000ff;
}
a img{
	border:		none;
}

/*--------------------------------------------*/

/* Text */
div.text{
	margin-top:	4px;
	margin-left:	0px;
	padding-right:	20px;
}

/* Text_TopMargin */
div.text_a{
	margin-top:	16px;
	margin-l